<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1 class="text-center">Employee List</h1>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">First Name</th>
            <th class="text-center">Last Name</th>
            <th class="text-center">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.id }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>

            <td>
              <button type="button" class="btn btn-info btn-sm mr-2" (click)="showEditemployeeForm(employee)">Edit</button>

              <button type="button" class="btn btn-danger btn-sm" (click)="removeemployee(employee)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-success" (click)="showAddemployeeForm()">Add New employee</button>

      <div class="mt-4">
        <form *ngIf="employeeForm">
          <h2>Add New employee</h2>
          <p>First Name: <input type="text" name="firstName" [(ngModel)]="newemployee.firstName" /></p>
          <p>Last Name: <input type="text" name="lastName" [(ngModel)]="newemployee.lastName" /></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="saveemployee(newemployee)">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelNewemployee()">Cancel</button>
          </p>
        </form>

        <form *ngIf="editemployeeForm">
          <h2>Edit employee Details</h2>
          <p>First Name: <input type="text" name="firstName" [(ngModel)]="editedemployee.firstName" /></p>
          <p>Last Name: <input type="text" name="lastName" [(ngModel)]="editedemployee.lastName" /></p>
          <p>
            <button type="button" class="btn btn-primary mr-2" (click)="updateemployee()">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>